/* page background */ body { background-color: #F1F1F1;}

/* heading fonts */
@import 'https://fonts.googleapis.com/css?family=Oswald';
h1 { font-size: 52px; font-family: "Oswald"; text-transform: uppercase;}
h2 { font-size: 46px; font-family: "Oswald"; color: #545454;}
h3 { font-size: 36px; font-family: "Oswald"; color: #52bf91;}

/* body font */ 
body, * { font-family: "Courier New", Helvetica, sans-serif; font-size: 12px; }

/* table of contents */.book-summary{ background-color: #f0244d;}

/* search bar */
#book-search-input input, #book-search-input input:focus, #book-search-input input:hover { width: 100%; background: 0 0; border: 3px solid black; box-shadow: none; outline: 0; line-height: 22px; padding: 7px 7px; color: inherit;
}

/* side menu */
.book-summary {color: white; font-size: 41px; font-weight: 800;}

.book-summary ul.summary li.active > a { color: white; background: 0 0; text-decoration: none;
}