/* page background */ body { background-color: #F1F1F1;}

/* heading fonts */
h1 { font-size: 52px; font-family: "Inconsolata";}
h2 { font-size: 42px; font-family: "Inconsolata";}
h3 { font-size: 32px; font-family: "Inconsolata";}


/* body font */p { font-family: "Courier New", Helvetica, sans-serif; font-size: 12px; }

/* table of contents */.book-summary{ background-color: #f0244d;}

/* search bar */
#book-search-input input, #book-search-input input:focus, #book-search-input input:hover { width: 100%; background: 0 0; border: 3px solid black; box-shadow: none; outline: 0; line-height: 22px; padding: 7px 7px; color: inherit;
}

/* side menu */
.book-summary {color: white; font-size: 21px; font-weight: 800;}

.book-summary ul.summary li.active > a { color: white; background: 0 0; text-decoration: none;
}